@use "sass:map";
@import "./src/scss/variables";

$badge-size: 0.625rem;
$badge-size-lg: 1.25rem;

.badge {
  min-width: $badge-size;
  min-height: $badge-size;
  border-radius: 50%;

  &_size_big {
    min-width: $badge-size-lg;
    min-height: $badge-size-lg;
    border: $border-width solid map.get($theme-colors, "bg-primary");

    &.active {
      border-color: map.get($theme-colors, "border-color");
    }
  }

  &_color_blue {
    background-color: $blue;
  }

  &_color_indigo {
    background-color: $indigo;
  }

  &_color_purple {
    background-color: $purple;
  }

  &_color_pink {
    background-color: $pink;
  }

  &_color_red {
    background-color: $red;
  }

  &_color_orange {
    background-color: $orange;
  }

  &_color_yellow {
    background-color: $yellow;
  }

  &_color_green {
    background-color: $green;
  }

  &_color_teal {
    background-color: $teal;
  }

  &_color_cyan {
    background-color: $cyan;
  }
}
