@use "sass:map";
@import "./src/scss/variables";

.tasks {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex: 0 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: map.get($spaces, sm);
    padding-bottom: map.get($spaces, sm);
    border-bottom: 1px solid map.get($theme-colors, "border-color");
  }

  &__title {
    font-size: map.get($font-size, md);

    @media (min-width: map.get($grid-breakpoints, xl)) {
      font-size: map.get($font-size, xl);
    }
  }

  &__list {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: map.get($spaces, xs);
  }

  &__item {
    display: flex;
    gap: map.get($spaces, xxs);
    align-items: center;
  }

  &__message {
    margin: auto;
    font-size: map.get($font-size, sm);
    text-align: center;
    opacity: $opacity;

    @media (min-width: map.get($grid-breakpoints, xl)) {
      font-size: map.get($font-size, lg);
    }
  }
}
