@use "sass:map";
@import "./src/scss/variables";

$icon-size: 1.5rem;

.add-project {
  display: flex;
  gap: map.get($spaces, xxs);
  align-items: center;
  box-sizing: border-box;
  padding: map.get($spaces, xxs);

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $icon-size;
    min-height: $icon-size;

    &:hover {
      border-radius: $border-radius;
      background-color: map.get($theme-colors, "list-item-hover");
    }
  }
}
