@use "sass:map";
@import "./src/scss/variables";

.footer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  box-sizing: border-box;
  height: $footer-height;
  padding: 0 map.get($spaces, md);
  background-color: map.get($theme-colors, "primary");
  color: map.get($theme-colors, "text-light");

  &__author-link {
    margin-left: map.get($spaces, xxs);
  }
}
