@use "sass:map";
@import "./src/scss/variables";

.link {
  color: inherit;
  text-decoration: none;
  transition: opacity $transition-duration ease-out;

  &:hover {
    @media (min-width: map.get($grid-breakpoints, lg)) {
      opacity: $opacity;
    }
  }
}
