@use "sass:map";
@import "./src/scss/variables";

$list-item-height: 2.5rem;
$list-icon-size: 1.5rem;

.list {
  $self: &;

  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    gap: map.get($spaces, xxs);
    align-items: center;
    box-sizing: border-box;
    min-height: $list-item-height;
    padding: map.get($spaces, xxs);
    border-radius: $border-radius;
    font-size: map.get($font-size, xs);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $list-icon-size;
    min-height: $list-icon-size;

    &_position_right {
      opacity: 0;
      transition: opacity $transition-duration;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
