@use "sass:map";
@import "./src/scss/variables";

$sidebar-width: 19rem;

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  &__sidebar {
    box-sizing: border-box;
    width: $sidebar-width;
    height: calc(100vh - (#{$navbar-height} * 2));
    padding: map.get($spaces, sm);
    background-color: map.get($theme-colors, "bg-secondary");
  }
}
