@use "sass:map";
@import "./src/scss/variables";

$sidebar-width: 19rem;

.content {
  display: flex;
  flex: 1 0 auto;

  &__sidebar,
  &__tasks {
    overflow: auto;
    box-sizing: border-box;
    max-height: calc(100vh - (#{$navbar-height} + #{$footer-height}));
    padding: map.get($spaces, md);
  }

  &__sidebar {
    max-width: $sidebar-width;
    background-color: map.get($theme-colors, "bg-secondary");
  }

  &__tasks {
    flex: 1;
  }
}
